/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

.completed {
  text-decoration: line-through;
}

#to-show {
  display: none;
}

#to-hover:hover>#to-show {
  display: block;
}

/* NOTE - look at nasa lecture for styling the body / image as well as having the quote display on hover */
/* Weather toggling, leave that one for last */

body {
  background-size: cover;
  background-position: center;
}